<div class="main-wrap">
    <div class="left-control">
      <nz-layout class="app-layout">
        <nz-sider class="menu-sidebar" nzCollapsible nzWidth="236px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
          [nzTrigger]="null">
          <div class="sidebar-logo">
            <img class="logo" alt="logo" src="./assets/imgs/logo-color.svg" />
            <span class="title-left">Beijing Meteorology</span>
          </div>
          <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="仪表" nzIcon="dashboard">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="./left">今日实时气象预报</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="./center">数据展示</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="./right">数据分析</a>
                </li>
              </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="地图" nzIcon="form">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a>气象地图</a>
                </li>
              </ul>
            </li>
          </ul>
        </nz-sider>
        <nz-layout>
          <nz-content>
            <div class="inner-content">
              <router-outlet></router-outlet>
            </div>
          </nz-content>
        </nz-layout>
      </nz-layout>
    </div>
    <!-- <router-outlet></router-outlet> -->
  </div>
  